/* ------------------------- WELCOME ------*/

.containerWelcome{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: auto;
    height: auto;
    background-image: url("../images/ImageWelcome.png"); 
    background-size: cover;
    z-index: 0;
}

 .encabezado {
    
    position: absolute;
    top: -10px;
    margin-left: 37.5%;
    width: 50px;
    height: 50px;
}

.logo {
    position: absolute;
    width: 360px;
    height: 183px;
    top: 10px;
    display: flex;
    align-items: center;
    background: url("../images/logo.png");
}

.frase{
    position: absolute;
    width: 360px;
    height: 75px;
    left: 34px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    top: 400%;
} 

.botonesWelcome {
    position: absolute;
    align-items: center;
    margin-left: 37.5%;
    margin-top: -15%;
    
}

.buttonLoginW {
    position: absolute;
    width: 360px;
    height: 52px;
    left: 34px;
    top: 532px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: #E303B6;
}

.buttonRegisterW{
    box-sizing: border-box;
    position: absolute;
    width: 360px;
    height: 52px;
    left: 34px;
    top: 607px;
    background: linear-gradient(90deg, rgba(145, 4, 255, 0.93) 0%, rgba(255, 0, 184, 0.93) 55.63%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.o {
    position: absolute;
    text-align: center;
    width: 360px;
    left: 34px;
    color: #FFFFFF;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin-top: 665px;
    top: 5px;
}

.o::before  {
    content: '';
    position: absolute;
    width:45%;
    height:1px;
    left:0px;
    top:50%;
    background: rgb(255, 255, 255);
}

.o::after  {
    content: '';
    position: absolute;
    width:45%;
    height:1px;
    right: 0px;
    top:50%;
    background: rgb(255, 255, 255);
}

.buttonGoogle {
    position: absolute;
    width: 360px;
    height: 52px;
    left: 34px;
    top: 700px;
    background: linear-gradient(0deg, #ffffff, #ffffff);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: #4E4E4E;
}  


/* ------------------------- REGISTER ----- */

.containerRegister{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: auto;
    height: auto;
    background-image: url("../images/imageRegister.png"); 
    background-size: cover;
    z-index: 0;
}
h1 { /*  Titulo: Crear una cuenta  */
    position: absolute;
    width: 360px;
    height: 75px;
    left: 36px;
    top: 10px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    color: rgb(255, 255, 255);
    line-height: 40px;
    display: flex;
    align-items: center;

}

.fraseRegister{
    position: absolute;
    width: 360px;
    height: 75px;
    left: 34px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    top: 20%;
} 

.email{
    box-sizing: border-box;
    position: absolute;
    width: 360px;
    height: 52px;
    left: 35px;
    top: 324px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
    border: 1px solid #9104FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-left: 15px;
}

.password{
    box-sizing: border-box;
    position: absolute;
    width: 360px;
    height: 52px;
    left: 35px;
    top: 414px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
    border: 1px solid #9104FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-left: 15px;
}

input::placeholder { /* email */
    color: #ffffffc4;
    
}

.botonRegister{ /*--- boton continuar (Register) --- */
    box-sizing: border-box;
    position: absolute;
    width: 360px;
    height: 52px;
    left: 34px;
    top: 504px;
    background: linear-gradient(90deg, rgba(145, 4, 255, 0.93) 0%, rgba(255, 0, 184, 0.93) 55.63%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}


/* ------------------------- LOGIN ----- */

.containerLogin{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: auto;
    height: auto;
    background-image: url("../images/ImageLogin.png"); 
    background-size: cover;
    z-index: 0;
}

.fraseLogin {
    position: absolute;
    width: 360px;
    height: 75px;
    left: 34px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    top: 15%;
} 

.botonLogin { /*--- boton continuar (login) --- */
    box-sizing: border-box;
    position: absolute;
    width: 360px;
    height: 52px;
    left: 34px;
    top: 504px;
    background: linear-gradient(90deg, rgba(145, 4, 255, 0.93) 0%, rgba(255, 0, 184, 0.93) 55.63%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
} 


/* ------------------------- WALL ----- */

.containerWall {
   
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(180deg, #4B0036 0%, #4D0037 14.58%, #280C7A 71.35%, #120045 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#ubicacionBotonCerrar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 0.5%;
}

#cerrar {
  
    width: 100px;
    height: 25px;
    background: linear-gradient(0deg, #ffffff, #ffffff);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 17px;
    text-align: center;
    color: #4E4E4E;
   

}

/* #headerWall{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
} */

.inicio {
    position: absolute;
    width: 184px;
    height: 15px;
    left: 34px;
    top: 19px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;
    /* or 118% */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#perfil {
    position: absolute;
    display: flex;
    justify-content: left;
   
    justify-content: flex-start;
    
}

#imagenPerfil {
    
    width: 40px;
    height: 40px;
    padding: 0%;
    margin: 0%;
    left: 0px;
    top: 0px;
    background-image: url("../imagesWall/imagenPerfil.png");
    
}

/* textarea {
    /* width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
   
} */

textarea {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
     /* margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 34px;
    margin-right: 150px;     */
    width: flex;
    /* min-width: 80%;
    min-height: 5em; */
   

    font-family: 'spartan';
    background: #ffffff00;
    margin: 10% 10% 10% 10%;
    width:fit-content;
    height: fit-content;
    text-align: justify;
    color: #ffffff;
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    
    
}

textarea::placeholder { /* ---Que quieres publicar? --- */
    margin-top: 20px;
    color: #ffffff;
    font-family: 'spartan';
        
}

.botonPublicar {  /*--- boton publicar --- */
    box-sizing: border-box;
    position: absolute;
    width: 87px;
    height: 32px;
    left: 150px;
    top: 150px;
    background: linear-gradient(90deg, rgba(145, 4, 255, 0.93) 0%, rgba(255, 0, 184, 0.93) 55.63%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

#containerPosts{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    flex: content;
    display: inline-block;
    width:fit-content;
    height: fit-content;
    padding: 5% 5% 5% 5%;
    border-radius: 5px;
   
   

}

#textPost{
    /* display: flex; */
    align-items: center;
    flex-direction: column;
    flex: content;
    display: inline-block;


}

#textPost {

    background: #DAD9FF;
    width:fit-content;
    height: fit-content;
    padding: 5% 5% 5% 5%;
    border-radius: 5px;
    /* margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 150px;
    margin-right: 150px; */
    margin: 10% 10% 10% 10%;
    text-align: justify;
    display: flex;
    flex: auto;
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #410831;

}


#buttons {
  
    /* margin-bottom: -15%; */
   

}

#botonFavorito { 
   
    background: linear-gradient(90deg, rgba(145, 4, 255, 0.93) 0%, rgba(255, 0, 184, 0.93) 55.63%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    width: 87px;
    height: 32px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 150px;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    

}

#botonEditar { 
   
    background: linear-gradient(90deg, rgba(145, 4, 255, 0.93) 0%, rgba(255, 0, 184, 0.93) 55.63%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    width: 87px;
    height: 32px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 150px;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    

}

.botonEliminar { 
   
    background: linear-gradient(90deg, rgba(145, 4, 255, 0.93) 0%, rgba(255, 0, 184, 0.93) 55.63%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    width: 87px;
    height: 32px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 150px;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}